header
  .header-position
    h1.logo Elsa Ortiz
    
    nav.site-nav
      ul
          li: a(href="home") Home
          li: a(href="about") About
          li: a(href="clases") Clases
          li: a(href="trabajo") Trabajo
          li: a(href="contacto") Contacto
          
    a(href="mailto:correo@correo.com").email-link +contanteme
