h2 SALUDOS

  p ESTE PASO funciona perfecto?
  
  h2 Pero... Algo pasa que no inyecta al index

h3 lo que stream

ul
 li hola

 ul 
    li auto
    li moto 
    li bici
    li perro






    
    
  
  
  
  
  
  
  
  
  
  
